.super-mario {
  width: 200px;
  position: absolute;
  z-index: 2;
  left: 100px;
  top: 100px;

}

.goomba {
  width: 100px;
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 1;
}

.baloon {
position: absolute;
left: 350px;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 300px;
  top: 600px;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 400px;
  top: 380px;
}